/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uilds/
/[Aa]ssetBundles/
/[Rr]emoteBundles/
/[Ll]ocalBundles/
/[Uu]serSettings/
/Assets/AssetStoreTools*
/Temp/UnityLockfile
.idea/
.vs/
.vscode/*
!.vscode/settings.json
.vsconfig
/Temp/

ExportedObj/
obj/
*.svd
*.suo
*.tmp
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
/*.slnx
*.user
*.unityproj
*.booproj
/server-config.json

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Thumbs.db.meta
AccountDatabase/
AssetBundles/
Assets/TerrainFormer/Settings.tf
Assets/ProBuilder Data/ProBuilderPreferences.asset
Assets/TerrainFormer/Settings.tf.meta
/Logs/
/settings.dat
setting-processor.py
booster.beam
__pycache__
Assets/3DBrush/Settings
ProjectSettings/ProBuilderSettings.json
Assets/Scenes/ObjectMaking.unity
process-settings.bat
Assets/3DBrush/Settings/3dbrush_last.xml
scripts/res.txt
heu_session.txt
UserSettings/Layouts/default-2021.dwlt

/[Aa]ssets/ConsolePro/
/[Aa]ssets/EnhancedHierarchy/
/[Aa]ssets/ConsolePro.meta
/[Aa]ssets/EnhancedHierarchy.meta
heu_settings.ini
